-- Table: profile_app_project
CREATE TABLE "profile_app_project" (
    "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "title" varchar(200) NOT NULL,
    "description" text NOT NULL,
    "technologies" varchar(200) DEFAULT '',
    "links" text NOT NULL
);

-- Table: profile_app_work
CREATE TABLE "profile_app_work" (
    "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "company" varchar(100) NOT NULL,
    "links" text NOT NULL
);

-- Table: profile_app_profile
CREATE TABLE "profile_app_profile" (
    "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "name" varchar(100) NOT NULL,
    "email" varchar(254) NOT NULL,
    "education" text DEFAULT '',
    "bio" text DEFAULT '',
    "skills" text DEFAULT ''
);

-- M2M: profile_app_profile_projects
CREATE TABLE "profile_app_profile_projects" (
    "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "profile_id" integer NOT NULL REFERENCES "profile_app_profile" ("id") DEFERRABLE INITIALLY DEFERRED,
    "project_id" integer NOT NULL REFERENCES "profile_app_project" ("id") DEFERRABLE INITIALLY DEFERRED
);

-- M2M: profile_app_profile_work
CREATE TABLE "profile_app_profile_work" (
    "id" integer NOT NULL PRIMARY KEY AUTOINCREMENT,
    "profile_id" integer NOT NULL REFERENCES "profile_app_profile" ("id") DEFERRABLE INITIALLY DEFERRED,
    "work_id" integer NOT NULL REFERENCES "profile_app_work" ("id") DEFERRABLE INITIALLY DEFERRED
);
